/* Header section */
.header {
  height: var(--header-height);
  background-image: linear-gradient(0, #fe6433, #f53e2d);
}

.header__navbar {
  display: flex;
  justify-content: space-between;
}

.header__navbar-list {
  list-style: none;
  padding-left: 0;
  margin: 4px 0 0 0;
  display: flex;
}

.header__navbar-user{
  display: flex;
  justify-content: center;
  position: relative;
}

.header__navbar-user:hover
.user-menu{
  display: block;
}

.header__navbar-user-img{
  width: 22px;
  height: 22px;
  border-radius: 50%;
  border: 1px solid rgba(0, 0, 0, 0.1);
}

.header__navbar-user-name{
  margin-left: 4px;
  font-size: 1.4rem;
  font-weight: 400;
}

.user-menu{
  position: absolute;
  z-index: 1;
  padding-left: 0;
  top: calc(100% + 3px);
  right: 0;
  width: 160px;
  list-style: none;
  background-color: var(--white-color);
  border-radius: 2px;
  box-shadow: 0 1px 2px #e8e8e8;
  display: none;
}

.user-menu::before{
  content: "";
  display: block;
  position: absolute;
  top: -15px;
  right: 0;
  width: 100%;
  height: 15px;
}

.user-menu::after{
  cursor: pointer;
  content: "";
  position: absolute;
  right: 3px;
  top: -23px;
  border-width: 16px 20px;
  border-style: solid;
  border-color: transparent transparent var(--white-color) transparent;
}

.user-item a{
  color: var(--text-color);
  text-decoration: none;
  font-size: 1.4rem;
  display: block;
  padding: 6px 16px;
}

.user-item a:first-child{
  border-top-left-radius: 2px;
  border-top-right-radius: 2px;
}

.user-item a:last-child{
  border-bottom-left-radius: 2px;
  border-bottom-right-radius: 2px;
}

.user-item a:hover{
  background-color: #fafafa;
}

.user-item--separate{
  border-top: 1px solid rgba(0, 0, 0, 0.05);
}

.header__navbar-item {
  margin: 0 8px;
  position: relative;
  min-height: 26px;
}

.header__navbar-item,
.header__navbar-item-link {
  display: inline-block;
  font-size: 1.3rem;
  color: var(--white-color);
  text-decoration: none;
  font-weight: 300;
}

.header__navbar-item,
.header__navbar-item-link,
.header__navbar-icon-link {
  display: flex;
  align-items: center;
}

.header__navbar-item:hover,
.header__navbar-item-link:hover,
.header__navbar-icon-link:hover {
  cursor: pointer;
  color: rgba(255, 255, 255, 0.7);
}

.header__navbar-item--bold {
  font-weight: 400;
}

.header__navbar-item--separate::after {
  content: "";
  display: block;
  position: absolute;
  border-left: 1px solid #fb9086;
  height: 16px;
  right: -9px;
  top: 50%;
  transform: translateY(-50%);
}

.header__navbar-icon-link {
  color: var(--white-color);
  text-decoration: none;
}

.header__navbar-icon-link:nth-child(1){
  margin-left: 3px;
}

.header__navbar-icon {
  font-size: 1.8rem;
  margin: 0 4px;
}

.header__navbar-contact:hover {
  color: var(--white-color);
  cursor: text;
}
/* Header QR code */
.header__qr {
  background-color: var(--white-color);
  width: 186px;
  position: absolute;
  left: 0;
  top: 118%;
  padding: 8px;
  border-radius: 2px;
  display: none;
  animation: fadeIn ease-in 0.3s;
}

.header__qr::before {
  content: "";
  display: block;
  position: absolute;
  width: 100%;
  height: 20px;
  top: -16px;
  left: 0;
}

.header__qr-img {
  width: 100%;
}

.header__qr-apps {
  display: flex;
  justify-content: space-between;
}

.header__qr-link:first-child {
  margin-left: 11px;
}

.header__qr-link:last-child {
  margin-right: 11px;
}

.app-download {
  height: 15px;
}

.header__navbar-qr:hover .header__qr {
  display: block;
}

/* Header Notification */
.header__navbar-noti:hover .header__noti {
  display: block;
}

.header__noti {
  position: absolute;
  top: 118%;
  right: 0;
  width: 404px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  background-color: var(--white-color);
  cursor: default;
  transform-origin: calc(100% - 32px) top;
  animation: growStretch ease-in 0.2s;
  will-change: opacity, transform;
  display: none;
  z-index: 1;
  border-radius: 2px;
}

.header__noti::before {
  content: "";
  position: absolute;
  width: 0;
  height: 0;
  border: 20px solid transparent;
  border-bottom-color: var(--white-color);
  border-top: 0;
  top: -8px;
  left: 87%;
}

.header__noti::after {
  content: "";
  display: block;
  position: absolute;
  width: 100px;
  height: 20px;
  right: 0;
  top: -10px;
}

@keyframes growStretch {
  from {
    opacity: 0;
    transform: scale(0);
  }
  to {
    opacity: 1;
    transform: scale(1);
  }
}

.header__noti-header {
  height: 40px;
  background-color: var(--white-color);
}

.header__noti-header h3 {
  color: #999;
  margin: 0 12px;
  font-weight: 400;
  font-size: 1.4rem;
  line-height: 40px;
  user-select: none;
  -webkit-user-select: none;
}

.header__noti-list {
  padding-left: 0;
}

.header__noti-item:hover {
  background-color: #f7f7f7;
}

.header__noti-item--unread {
  background-color: rgba(238, 77, 45, 0.08);
}

.header__noti-link {
  display: flex;
  padding: 12px;
  text-decoration: none;
}

.header__noti-img {
  width: 48px;
  object-fit: contain;
}

.header__noti-info {
  margin-left: 12px;
}

.header__noti-name {
  display: block;
  font-size: 1.4rem;
  font-weight: 400;
  color: var(--black-color);
  margin-bottom: 5px;
  line-height: 1.4;
}

.header__noti-desc {
  display: block;
  font-size: 1.2rem;
  color: #756f6e;
}

.header__noti-footer-btn {
  display: block;
  text-decoration: none;
  color: var(--text-color);
  padding: 8px 0;
  width: 100%;
  text-align: center;
  font-size: 1.4rem;
  font-weight: 400;
}

/* Authentication form */
.auth-form {
  width: 500px;
  background-color: var(--white-color);
  border-radius: 5px;
  overflow: hidden;
}

.auth-form__container {
  padding: 0 32px;
}

.auth-form__header {
  padding: 0 12px;
  margin-top: 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.auth-form__heading {
  font-size: 2.2rem;
  font-weight: 400;
  color: var(--text-color);
}

.auth-from__switch-btn {
  font-size: 1.6rem;
  color: var(--primary-color);
  cursor: pointer;
}

.auth-form__input {
  width: 100%;
  height: 40px;
  margin-top: 16px;
  padding: 0 12px;
  font-size: 1.4rem;
  border: 1px solid var(--border-color);
  border-radius: 2px;
  outline: none;
}

.auth-form__input:focus {
  border-color: #777;
}

.auth-form__aside {
  margin-top: 18px;
}

.auth-form__policy-text {
  font-size: 1.2rem;
  line-height: 1.8rem;
  text-align: center;
  padding: 0 12px;
}

.auth-form__policy-link {
  text-decoration: none;
  color: var(--primary-color);
}

.auth-form__controls {
  margin-top: 80px;
  display: flex;
  justify-content: flex-end;
}

.auth-form__controls-back {
  margin-right: 8px;
}

.auth-form__socials {
  background-color: #f5f5f5;
  padding: 16px 36px;
  margin-top: 22px;
  display: flex;
  justify-content: space-between;
}

.social-icon {
  font-size: 1.8rem;
}

.social-text {
  margin: 0 36px;
}

.btn--facebook {
  background-color: #3a5a98;
  color: var(--white-color);
}

.btn--google {
  background-color: var(--white-color);
}

.auth-form__help {
  display: flex;
  justify-content: flex-end;
}

.auth-form__help-link {
  text-decoration: none;
  font-size: 1.4rem;
  color: #939393;
}

.auth-form__help-separate {
  display: block;
  border-left: 1px solid #eaeaea;
  height: 22px;
  margin: -3px 16px;
}

.help-link-forgot {
  color: var(--primary-color);
}

/* Search section */
.header__search {
  height: var(--search-height);
  display: flex;
  align-items: center;
  padding: 0 8px;
}

.header__logo {
  width: 200px;
}

.header__logo-img {
  width: 150px;
}

.header__logo-link{
  color: transparent;
  text-decoration: none;
}

.header__search-bar {
  background-color: var(--white-color);
  height: 40px;
  flex: 1;
  border-radius: 2px;
  display: flex;
  align-items: center;
}

.search-bar__input-wrap{
  flex: 1;
  height: 100%;
  position: relative;
}

.search-bar__input {
  width: 100%;
  height: 100%;
  border: none;
  border-radius: 2px;
  outline: none;
  font-size: 1.4rem;
  color: var(--text-color);
  padding: 0 16px;
}

.search-bar__input:focus ~
.search-bar__input-history{
  display: block;
}

.search-bar__input-history{
  position: absolute;
  background-color: var(--white-color);
  top: calc(100% + 5px);
  left: 0;
  width: calc(100% - 16px);
  border-radius: 2px;
  box-shadow: 0 1px 5px rgb(189, 189, 189);
  overflow: hidden;
  display: none;
}

.history-heading{
  margin: 12px 12px 8px;
  font-size: 1.4rem;
  font-weight: 400;
  color: #999;
}

.history-list{
  padding-left: 0;
  list-style: none;
  margin: 0;
}

.history-item{
  height: 38px;
  padding: 0 12px;
}

.history-item:hover{
  background-color: #f4f3f3;
}

.history-item a{
  text-decoration: none;
  color: var(--text-color);
  font-size: 1.4rem;
  line-height: 38px;
  display: block;
}

.search-bar__select {
  border-left: 1px solid #e8e8e8;
  padding-left: 16px;
  position: relative;
  cursor: pointer;
}

.search-bar__select:hover
.search-bar__option{
  display: block;
}

.search-bar__select-label {
  font-size: 1.4rem;
  color: var(--text-color);
}

.search-bar__select-icon {
  font-size: 1.4rem;
  color: rgb(131, 131, 131);
  margin: 0 16px 0 8px;
}

.search-bar__option {
  position: absolute;
  right: 0;
  top: calc(100% + 6px);
  width: 120px;
  box-shadow: 0 1px 2px #e8e8e8;
  padding-left: 0;
  border-radius: 2px;
  display: none;
  animation: fadeIn ease-in 0.2s;
}

.search-bar__option::before{
  content: "";
  display: block;
  position: absolute;
  top: -15px;
  width: 100%;
  height: 20px;
}

.search-bar__option-item {
  list-style: none;
  background-color: var(--white-color);
  padding: 8px;
}

.search-bar__option-item:first-child{
  border-top-left-radius: 2px;
  border-top-right-radius: 2px;
}

.search-bar__option-item:last-child{
  border-bottom-left-radius: 2px;
  border-bottom-right-radius: 2px;
}

.search-bar__option-item:hover{
  background-color: #fafafa;
  cursor: pointer;
}

.search-bar__option-item span {
  font-size: 1.4rem;
  color: var(--text-color);
  margin-left: 8px;
}

.search-bar__option-item i {
  font-size: 1.4 rem;
  margin-left: 12px;
  color: var(--primary-color);
  display: none;
}

.search-bar__option-item--active i{
  display: inline-block;
}
.search-bar__btn {
  background-color: var(--primary-color);
  border: none;
  outline: none;
  width: 60px;
  height: 34px;
  border-radius: 2px;
  margin-right: 3px;
}

.search-bar__btn:hover {
  background-color: #fb6445;
  cursor: pointer;
}

.search-bar__btn-icon {
  font-size: 1.4rem;
  color: #fff;
}

.header__cart {
  width: 150px;
  text-align: center;
}

.header__cart-wrap{
  position: relative;
  display: inline-block;
  padding: 0 12px;
  cursor: pointer;
}

.header__cart-wrap:hover 
.header__cart-list{
  display: block;
}

.header__cart-icon {
  color: var(--white-color);
  font-size: 2.4rem;
  margin-top: 14px;
}

.header__cart-badge{
  position: absolute;
  top: 1px;
  right: -4px;
  padding: 1px 7px;
  background-color: var(--white-color);
  color: var(--primary-color);
  font-size: 1.4rem;
  line-height: 1.4rem;
  border-radius: 10px;
  border: 2px solid #ee4d2d;
}

.header__cart-list{
  position: absolute;
  top: calc(100% + 5px);
  right: 1px;
  background-color: var(--white-color);
  width: 400px;
  border-radius: 2px;
  box-shadow: 0 1px 3.125rem 0 rgba(0, 0, 0, 0.2);
  display: none;
  animation: fadeIn ease-in 0.2s;
  cursor: default;
}

.header__cart-list::before{
  cursor: pointer;
  content: "";
  position: absolute;
  right: 3px;
  top: -23px;
  border-width: 16px 20px;
  border-style: solid;
  border-color: transparent transparent var(--white-color) transparent;
}

.cart--empty{
  padding: 24px 0;
}

.cart--empty .header__cart-img,
.cart--empty .header__cart-empty-msg{
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.header__cart-img{
  width: 50%;
  display: none;
}

.header__cart-empty-msg{
  font-size: 1.4rem;
  margin-top: 14px;
  color: var(--text-color);
  display: none;
}

/* Products list in cart */
.header__cart-heading{
  text-align: left;
  margin:10px 0 8px 12px;
  font-size: 1.4rem;
  color:#999;
  font-weight: 400;
}

.header__cart-items{
  padding-left: 0;
  list-style: none;
}

.header__cart-item{
  display: flex;
  align-items: center;
}

.header__cart-item:hover{
  background-color: #f8f8f8;
}

.item__img{
   width: 48px;
   object-fit: contain;
   margin: 12px;
   border: 1px solid #e8e8e8;
}

.item__info{
  width: 100%;
  margin-right: 12px;
}

.item__info-heading{
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.item__info-name{
  font-size: 1.4rem;
  font-weight: 500;
  color: var(--text-color);
  margin: 0;
}

.item__info-price{
  font-size: 1.4rem;
  color: var(--primary-color);
  font-weight: 400;
}

.item__info-multiply{
  font-size: 0.9rem;
  margin: 0 4px;
  color: #757575;
}

.item__info-quantity{
  color: #757575;
  font-size: 1.2rem;
}

.item__info-body{
  margin-top: 5px;
  display: flex;
  justify-content: space-between;
}

.item__info-desc{
  color: #757575;
  font-size: 1.2rem;
  font-weight: 300;
}

.item__info-remove{
  color: var(--text-color);
  font-size: 1.4rem;
}

.item__info-remove:hover{
  color: var(--primary-color);
  cursor: pointer;
}

.header__cart-view{
  float: right;
  margin: 0 12px 12px;
}

.header__cart-view:hover{
  background-color: #f05d41;
}

/* App container */
.app__container{
  background-color: #f5f5f5;
}

.app__row{
  padding-top: 36px;
}

.category{
  background-color: var(--white-color);
  border-radius: 2px;
}

.category__heading{
  font-size: 1.7rem;
  color: var(--text-color);
  padding: 12px 16px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.05);
  margin-bottom: 6px;
  margin-top: 0;
}

.category__heading-icon{
  font-size: 1.4rem;
  margin-right: 4px;
  position: relative;
  top: -1px;
}

.category-list {
  padding:0 0 8px 0;
  list-style: none;
  margin-left: 10px;
}

.category-item--active
.item__link{
  color: var(--primary-color);
}

.category-item--active
.item__link::before{
  content: "";
  position: absolute;
  top: 50%;
  transform: translateY(calc(-50% - 1px));
  left: 6px;
  border: 4px solid;
  border-color: transparent transparent transparent var(--primary-color);
}

.item__link{
  position: relative;
  right: 0;
  font-size: 1.5rem;
  text-decoration: none;
  color: var(--text-color);
  display: block;
  padding: 6px 16px;
  transition: right linear 0.1s;
}

.item__link:hover{
  color: var(--primary-color);
  right: -4px;
}

/* Product sort + filter */
.filter{
  background-color: rgba(0, 0, 0, 0.04);
  display: flex;
  align-items: center;
  padding: 12px 22px;
  border-radius: 2px;
}

.filter__title{
  color: #555;
  font-size: 1.4rem;
  margin-right: 16px;
}

.filter__btn{
  margin-right: 12px;
  min-width: 90px;
}

.filter__select{
  height: 34px;
  padding: 0 12px;
  border-radius: 2px;
  background-color: var(--white-color);
  min-width: 200px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
}

.filter__select:hover
.filter__select-list{
  display: block;
}

.filter__select-label{
  font-size: 1.4rem;

}

.filter__select-icon{
  font-size: 1.4rem;
  color: rgb(131, 131, 131);
}

.filter__select-list{
  position: absolute;
  top: calc(100% - 9px);
  left: 0;
  right: 0;
  padding: 8px 16px;
  border-radius: 2px;
  background-color: var(--white-color);
  list-style: none;
  display: none;
}

.filter__select-link{
  text-decoration: none;
  color: var(--text-color);
  font-size: 1.4rem;
  display: block;
  padding: 4px 0;
}

.filter__select-link:hover{
  color: var(--primary-color);
}

.filter__paging{
  display: flex;
  align-items: center;
  margin-left: auto;
}

.filter__paging-num{
  font-size: 1.5rem;
  color: var(--text-color);
  margin-right: 22px;
}

.paging-num__current{
  color: var(--primary-color);
}

.filter__paging-control{
  border-radius: 2px;
  overflow: hidden;
  display: flex;
  width: 72px;
  height: 36px;
}

.paging-control__btn{
  flex: 1;
  display: flex;
  background-color: var(--white-color);
  text-decoration: none;
}

.paging-control__btn:first-child{
  border-right: 1px solid #eee;
}

.control__btn{
  margin: auto;
  font-size: 1.4rem;
  color: #555;
}

.paging-control__btn--disabled{
  background-color: #f9f9f9;
  cursor: default;
}

.paging-control__btn--disabled
.control__btn{
  color: #ccc;
}